.root {
	position: relative;
	display: block;
	background: #fafafa;
}

.tile {
	position: absolute;
	width: 32px;
	height: 32px;
	text-align: center;
	display: inline-block;
	font-size: 12px;
	background: var(--territory);
}

.inner {
	font-size: 12px;
	display: inline-block;

	width: 32px;
	height: 24px;
	padding-top: 8px;

	position: relative;
	z-index: 1;
	color: #000;
}

[terrain=ocean] .inner {
	background: url(/tiles/ocean.svg); }
[terrain=ocean][territory="-1"] {
	--territory: #3F6ABF; }

[tiletype=camp] .inner {
	background: url(/tiles/camp.svg); }
[tiletype=bridge] .inner {
	background: url(/tiles/bridge.svg); }
[tiletype=iron-wall] .inner {
	background: url(/tiles/iron-wall.svg); }

[tiletype=core] .inner {
	background: url(/tiles/core.svg); }
[tiletype=launcher] .inner {
	background: url(/tiles/launcher.svg); }

[tiletype=cleaner] .inner {
	background: url(/tiles/cleaner.svg); }
[tiletype=greenhouse] .inner {
	background: url(/tiles/greenhouse.svg); }

[tiletype=kiln] .inner {
	background: url(/tiles/kiln.svg); }
[tiletype=mine] .inner {
	background: url(/tiles/mine.svg); }
[tiletype=mine_electric] .inner {
	background: url(/tiles/mine_electric.svg); }
[tiletype=mine_uranium] .inner {
	background: url(/tiles/mine_uranium.svg); }

[deposit=iron] {
	background: url(/tiles/iron.svg) var(--territory); }
[deposit=coal] {
	background: url(/tiles/coal.svg) var(--territory); }
[deposit=gold] {
	background: url(/tiles/gold.svg) var(--territory); }
[deposit=uranium] {
	background: url(/tiles/uranium.svg) var(--territory); }
[deposit=green] {
	background: url(/tiles/green.svg) var(--territory); }
[territory="-1"] {
	--territory: transparent; }
[territory="0"] {
	--territory: hsl(0, 50%, 75%); }
[territory="1"] {
	--territory: hsl(100, 50%, 75%); }
[territory="2"] {
	--territory: hsl(200, 50%, 75%); }
[territory="3"] {
	--territory: hsl(300, 50%, 75%); }
[territory="4"] {
	--territory: hsl(40, 50%, 75%); }
[territory="5"] {
	--territory: hsl(250, 50%, 75%); }

[terrain=fog] {
	background: #aaa; }
.tile[selected] {
	outline: 2px solid #555;
	z-index: 2;
}

.tile::before {
	position: absolute;
	top: 8px;
	width: 32px;
	z-index: 2;
}
.tile:not([army="0"])::before {
	content: attr(army);
}
[terrain=fog]::before {
	content: "?"; }
