body, input, button {
    font-family: 'VT323', monospace;
	font-size: 16px;
}

h2 {
	font-size: 20px;
	margin-top: 0;
	margin-bottom: 8px;
}

.card {
	background: #fff;
	padding: 16px;
	text-align: center;
	max-width: 300px;
	margin: auto;
	margin-top: 16px;
}

.card .textfield, .card button {
	width: -webkit-fill-available;
	width: -moz-available;
	width: fill-available;
	margin-bottom: 8px;
}

input.textfield {
	border: 0px;
	border-bottom: 2px solid #aaa;
	background: transparent;
}
.textfield:focus {
	border-color: #eee;
}

body {
	padding: 0; margin: 0;
	margin: 32px;
	overflow: auto;
	background: #3F6ABF;
}

kbd {
    font-family: 'VT323', monospace;
	background: #bbb;
	display: inline-block;
	padding: 0 4px;
}

.text-copper {
	color: #b87333; }
.text-brick {
	color: #b74933; }
.text-iron {
	color: #aaa; }
.text-gold {
	color: #b7b033; }
.text-uranium {
	color: #8239cc; }
.text-green {color: #6ABF3F; }

.icon {
	font-size: 12px;
	display: inline-block;
	padding: 2px 4px;
}
.icon-brick {
	color: #eee;
	background: #b74933;
	border: 2px solid #7f3323; }
.icon-brick::before { content: "Brk"; }
.icon-copper {
	color: #eee;
	background: #b87333;
	border: 2px solid #7f5023; }
.icon-copper::before { content: "Cu"; }
.icon-iron {
	background: #aaa;
	border: 2px solid #666; }
.icon-iron::before { content: "Fe"; }
.icon-gold {
	background: #b7b033;
	border: 2px solid #7f7a23; }
.icon-gold::before { content: "Au"; }
.icon-uranium {
	color: #eee;
	background: #8239cc;
	border: 2px solid #51237f; }
.icon-uranium::before { content: "U"; }
.icon-green {
	color: #eee;
	background: #6ABF3F;
	border: 2px solid #559933; }
.icon-green::before { content: "G"; }

button, .button {
	color: #222;
	text-decoration: none;
	border: 2px solid #bbb;
	background: #ddd;
	cursor: pointer;
    font-family: 'VT323', monospace;
	font-size: 16px;
	padding: 4px 8px;
}

